@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --colors-night: #0e0f12;
    --colors-white: #f1f5f2;
    --colors-offWhite: #d0d4dc;
    --colors-light-black: #1b1e28;
    --colors-gunmetal: #292e3d;
    --colors-uranus: #abd2fa;
    --colors-jasmine: #ffd275;
    --colors-emerald: #3ddc97;
    --colors-primary: #38bdf8;
    --colors-prussian-blue: #171c1f;
    --colors-blue: #8de4ff;

    --colors-midnight: #030712;
    --colors-midnight-75: #030712;
    --colors-midnight-50: #111827;
    --colors-midnight-25: #1f2937;

    /* for graphs */
    --colors-text: #f1f5f2;
    --colors-text-secondary: var(--colors-offWhite);
    --colors-axis: #f1f5f2;
    --colors-panel: #1b1e28;
    --colors-grid: #2c303a;

    --colors-background: var(--colors-night);
    --colors-heading: var(--colors-white);
    --colors-text: #d4d4d8;
    --colors-border: var(--colors-light-black);
  }
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--colors-midnight);
  color: var(--colors-text);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: var(--colors-heading);
}

.Axis line {
  stroke: var(--colors-midnight-50);
}

.Grid line {
  stroke: var(--colors-midnight-50);
}

.Axis text {
  fill: var(--colors-text);
  stroke: var(--colors-background);
  paint-order: stroke;
  font-size: 12px;
}

.Chart text {
  font-family: "Source Code Pro", monospace;
}

.Panel rect {
  fill: var(--colors-midnight-50);
}

.Panel line {
  stroke: var(--colors-grid);
}
